/*
This file is for the color scheme
*/

$hot-pink: #ff0b72;
$bright-yellow: #fefab3;
$salmonPink: #ff7686;
$cardBgClr: rgba(25,0,40,0.9);

$titlefont: 'Passion One', sans-serif;

* {
    
}

.App {
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(11,0,40,1) 0%, rgba(37,9,84,1) 24%, rgba(93,16,122,1) 53%, rgba(184,37,115,1) 84%, rgba(255,138,117,1) 100%);
  }
  
  .App-header {

        background: linear-gradient(180deg, rgba(25,0,40,1) 0%,  rgba(25,0,40,0.2) 100%);
        background-color: transparent;

        h4 {
            font-family: $titlefont;
            font-weight: 900;
            background: linear-gradient(180deg, rgba(0,116,255,1) 0%, rgba(111,228,255,1) 51%, rgba(167,0,104,1) 52%, rgba(255,0,206,1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3rem;
            }
        
        nav {
            
            
            
            ul {
                

                li {
                    
                    a {
                       color: $hot-pink;
                       text-decoration: none;
                    }
                    a:hover {
                        text-shadow: 0px 0px 5px $hot-pink;
                     }
                     a:active {
                        color: $bright-yellow;
                        text-shadow: 0px 0px 5px $bright-yellow;
                     }
                    
                }
            }
        }

  }
    
main {
    background-color: transparent;
}

footer {
    
    background: linear-gradient(0deg, rgba(25,0,40,1) 0%,  rgba(25,0,40,0.2) 100%);
    p {
        
    }
    a {
      
    }
  }

  //====================================================================================================================================================
  // Presentation component
  //====================================================================================================================================================

.presentation {
    

    h1 {
       font-family: $titlefont;
       background: linear-gradient(180deg, rgba(0,116,255,1) 0%, rgba(111,228,255,1) 51%, rgba(167,0,104,1) 52%, rgba(255,0,206,1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .card {
      
        border-radius: 10px;
        background-color: $cardBgClr;
        color: $salmonPink;
        border-color: $salmonPink;
    }
}

  //====================================================================================================================================================
  // Skills component
  //====================================================================================================================================================

  .skills {

    h1 {
        z-index: 20;
        font-family: $titlefont;
    }

    p {
        z-index: 20;
    }

    .skills-grid-container {
        

        .skill-card {
            border-radius: 10px;
            background-color: $cardBgClr;
            color: $salmonPink;
            border: 1px solid $salmonPink;
      }
      .skill-card p {
        color: $salmonPink;
      }
      .skill-card i {
        color: $salmonPink;
        
      }
      .one-line i{
        color: $salmonPink;
      }
      }

    
  }

    //====================================================================================================================================================
  // Projects component
  //====================================================================================================================================================

  .projects {
   

    h1{
        
        
    }

    .projects-container  {
       
        

        // Carousel --------------------------------------------------------------

        .carousel {
            

            .inner {
                
            }
    
            .project-card {

                border-radius: 10px;
                background-color: $cardBgClr;
                color: $salmonPink;
                border-color: $salmonPink;
                

                img {
                    
                }
            }
    
        }

        button {

            i {
                
            }
        }
      
    }
    

    
    
  }

  