/*
This file is for the display and organizing of elements
*/
* {
    
}

.App {
    background-color: palevioletred;
  }
  
  .App-header {
    
        background-color: transparent;
        h4 {
            
            }
        
        nav {
            
            
            
            ul {
                

                li {
                    
                    a {
                       
                    }
                    
                }
            }
        }

  }
    
main {
    background-color: transparent;
}

footer {
    
    background-color: transparent;
    p {
        
    }
    a {
      
    }
  }

  //====================================================================================================================================================
  // Presentation component
  //====================================================================================================================================================

.presentation {
    

    h1 {
       
    }

    .cards-ctn {
        
    }

    .card {
      

    }
}

  //====================================================================================================================================================
  // Skills component
  //====================================================================================================================================================

  .skills {

   

    .skills-grid-container {
        

        .skill-card {
        
      }
      .skill-card p {
        
      }
      .skill-card i {
        
        
      }
      .one-line i{
       
      }
      }

    
  }

    //====================================================================================================================================================
  // Projects component
  //====================================================================================================================================================

  .projects {
   

    h1{
        
        
    }

    .projects-container  {
       
        

        // Carousel --------------------------------------------------------------

        .carousel {
            

            .inner {
                
            }
    
            .project-card {
                

                img {
                    
                }
            }
    
        }

        button {

            i {
                
            }
        }
      
    }
    

    
    
  }

  