* {
    --headerfont:'Cutive Mono', monospace;
    --prgfont: 'Roboto', sans-serif;
    --clrgrey:#a2a2a2;
    --clrpurple: #7e007e;
    box-sizing: border-box;
    font-family: var(--prgfont);
    /* border: 1px solid orange; */
}
body {
    width: 100%;
    height: 100%; 
    
}
/* Mobile design */
/* =============================================================================================================================================== */

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(transparent, white 70%),  url("../Ressources/bg-image_2.jpg");
    
    
}

h1 {
    text-align: center;
    font-family: var(--headerfont);
    font-size: 2.5rem;
    margin-top: 2rem;
}

main p {
    line-height: 1.8rem;
    font-size: 1.1rem;
    margin: 2%;
    align-self: flex-start;
}

main ul {
    width: 95%;
    padding-left: 0;
    margin-top: 0;

}

main li {
    padding: 5%;
    list-style-type: none;
    transition: all 200ms ease-in-out;
    margin: 4% 0;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1rem;

}
main li a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;

}
main li:nth-child(1) {
    background-color: firebrick;
}
main li:nth-child(2) {
    background-color: midnightblue;
}
main li:nth-child(3) {
    background-color: dodgerblue;
}
main li:nth-child(4) {
    background-color: mediumseagreen;
}
i {
    padding: 0 3%;
    transform: scale(150%);
    color: white;
    float: left;
}
main li:hover {
    transform: scale(110%);
}
.social-media {
    display: none;
}



/* ==================================================================================================================================== */
/* Desktop version */

@media screen and (min-width: 768px) {

    h1 {
        font-size: 84px;
        font-weight: lighter;
    }

    main p {
        line-height: 1.5rem;
        font-size: 1.5rem;
        margin: 1%;
        margin-left: 6%;
        align-self: flex-start;
        
    }
    
    main ul {
        width: 27%;
        padding-left: 0;
        margin: 5% 0;
        align-items: center;
    }
    
    main li {
        padding: 5%;
        list-style-type: none;
        transition: all 200ms ease-in-out;
        margin: 4% 0;
        border-radius: 10px;
        text-align: center;
        font-size: 1.5rem;

    }
    main li a {
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;

    }
    main li:nth-child(1) {
        background-color: firebrick;
    }
    main li:nth-child(2) {
        background-color: midnightblue;
    }
    main li:nth-child(3) {
        background-color: dodgerblue;
    }
    main li:nth-child(4) {
        background-color: mediumseagreen;
    }
    i {
        padding: 0 2%;
        transform: scale(200%);
        color: white;
        float: left;
    }
    main li:hover {
        transform: scale(110%);
    }
}
