* {
    --headerfont:'Cutive Mono', monospace;
    --prgfont: 'Roboto', sans-serif;
    --clrgrey:#a2a2a2;
    --clrpurple: #7e007e;
    box-sizing: border-box;
    font-family: var(--prgfont);
    /* border: 1px solid dodgerblue; */
}
body {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-image: linear-gradient(transparent, white 70%),  url("../Ressources/bg-image_2.jpg");
}
.grid {
    width: 90%;
    
    margin-top: -10%;
}
.portrait {
    background-color: grey;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    
    border-radius: 50%;
}
.portrait img {
    object-fit: cover;
    object-position: 50% 50%;
    border: 8px solid white;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    
}
h1 {
    text-align: center;
    font-family: var(--headerfont);
    font-size: 2.5rem;
    margin-top: 2rem;
}
h2 {
    font-family: var(--headerfont); 
    font-size: 1.8rem;
    margin: 0%;
    padding: 5px;
}
/* Button */
.download-btn {
    display: flex;
    justify-content: center;
    position: relative;
    top: 215px;
    margin-bottom: 5%;
    align-items: center;
    width: 70%;
    
    align-self: center;
}
#CV {
    width: 100%;
    border: 1px solid var(--clrpurple);
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 400ms ease-in-out;
    color:var(--clrpurple);
}
#CV:hover {
    background-color: lightgray;
    transform: scale(1.1);
}
#CV:active {
    background-color: var(--clrpurple);
    color: white;
}

section {
    margin: 15% 0;
    border: 1px solid var(--clrgrey);
    padding: 1%;
    border-radius: 5px;
}
section ul {
    list-style-type: disc;
}
section ul li {
    line-height: 1.8rem;
}
.skills {
    margin-top: 25%;
}

/* ==================================================================================================================================== */
/* Desktop version */

@media screen and (min-width: 768px) {

    h1 {
        font-size: 84px;
        font-weight: lighter;
    }
    .download-btn {
        align-self: flex-start;
        top: 0;
        margin-bottom: 2rem;
        margin-left: 2%;
        width: 20%;
    }
    #CV {
        font-size: 1.8rem;
        border: 2px solid var(--clrpurple);
    }
    .portrait {
        padding: 0;
    }
    .portrait img {
        object-fit: contain;
        /* object-position: 120% 120%; */
        
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 250px 1fr;
        grid-template-rows: 1fr 250px 1fr;
        margin-top: 1rem;
        
    }
    .skills {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
    }
    .xp {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .portrait {
        grid-column: 2 / 3;
        grid-row: 2/3;
        margin: 0% auto;
        border: 15px solid black;
        align-self: center;
        width: 250px;
        height: 250px;
    }
    .formation {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .hobbies {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    section {
        /* height: 75%; */
        margin: 0;
    }
    section li {
        line-height: 2rem;
        font-size: 1.3rem;
    }
    h2 {
        font-size: 2.5rem;
        color: var(--clrpurple);
    }
}

