* {
    --headerfont:'Cutive Mono', monospace;
    --prgfont: 'Roboto', sans-serif;
    --clrgrey:#a2a2a2;
    --clrpurple: #7e007e;
    box-sizing: border-box;
    font-family: var(--prgfont);
    /* border: 1px solid orange; */
}
body {
    width: 100%;
    height: 100%; 
}
/* Mobile design */
/* =============================================================================================================================================== */

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(transparent, white 70%),  url("../Ressources/bg-image_2.jpg");
    
}

h1 {
    text-align: center;
    font-family: var(--headerfont);
    font-size: 2.5rem;
    margin-top: 2rem;
}

p {
    line-height: 1.8rem;
    font-size: 1.1rem;
    margin: 2%;
    align-self: flex-start;
}

main ul {
    width: 95%;
    padding-left: 0;
    margin-top: 0;
}

main li {
    padding: 2%;
    list-style-type: none;
    border-left: 3px solid var(--clrpurple);
    margin: 4% 0;
}

form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 2%;
    background-color: black;
    /* padding: 2%; */
    
}
label {
    padding: 1%;
    margin: 2% 0;
    color: white;
    width: 95%;
    
}
input {
    height: 2.5rem;
    
    border-radius: 7px;
    width: 95%;
}
textarea {
    margin-bottom: 6%;
    width: 95%;
    border-radius: 7px;
}
input[type="submit"] {
    width: 30%;
    align-self: center;
    margin-bottom: 5%;
}

/* ==================================================================================================================================== */
/* Desktop version */

@media screen and (min-width: 768px) {

    h1 {
        font-size: 84px;
        font-weight: lighter;
    }

    p {
        line-height: 1.5rem;
        font-size: 1.5rem;
        margin: 1%;
        align-self: flex-start;
    }
    p:nth-child(5) {
        align-self: center;
    }
    
    main ul {
        width: 95%;
        padding-left: 0;
        margin-top: 0;
    }
    
    main li {
        padding: 1%;
        list-style-type: none;
        border-left: 3px solid var(--clrpurple);
        margin: 2% 0;
    }

    form {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: black;
        width: 40%;
        padding: 1% 0;
        
    }
    label {
        padding: 1%;
        margin: 2% 0;
        color: white;
        width: 90%;
        
    }
    input {
        height: 2.5rem;
        
        border-radius: 7px;
        width: 90%;
    }
    textarea {
        margin-bottom: 6%;
        width: 90%;
        border-radius: 7px;
    }
    input[type="submit"] {
        width: 30%;
        align-self: center;
        margin-bottom: 5%;
    }

}
