* {
    --headerfont:'Cutive Mono', monospace;
    --prgfont: 'Roboto', sans-serif;
    --clrgrey:#a2a2a2;
    --clrpurple: #7e007e;
    box-sizing: border-box;
    font-family: var(--prgfont);
}
body {
    width: 100%;
    height: 100%; 
}
/* Mobile design */
/* =============================================================================================================================================== */

main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.banner-image {
    background-color: grey;
    
    width: 100%;
    height: 525px;
    position: relative;
    top: -5.6rem;
    z-index: 0;
}
h1 {
    z-index: 1;
    position: relative;
    top: 2rem;
    font-family: var(--headerfont);
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    color: white;
}
.portrait {
    background-color: grey;
    z-index: 1;
    position: relative;
    top: -28rem;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border: 8px solid white;
    border-radius: 50%;
}
.intro p {
   width: 90%; 
   margin: 0 auto;
   position: relative;
   top: -25rem;
   font-size: 1.2rem;
   line-height: 1.8rem;
   background-color: white;
   padding: 2%;
}
section a {
     text-align: center;
     margin: 0 auto;
     
 }
 section {
    
    display: flex;
    flex-flow: column wrap;
    align-content: center;

 }
 .intro a {
     position: relative;
     top: -24rem;
 }
 hr {
     border-top: 1px solid var(--clrgrey);
     width: 70%;
 }
 .projects {
     position: relative;
     top: -21rem;
 }
 .project {
     width: 90%;
     height: 230px;
     background-color: grey;
     margin-bottom: 2rem;
     border-radius: 10px;
     display: flex;
     flex-flow: column nowrap;
 }
 .project legend{
    
    text-align: center;
    font-family: var(--headerfont);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    position: relative;
    top: 70%;
 }
 footer {
     position: relative;
     top: -20rem;
 }

 /* Desktop version */
 /* ======================================================================================================================================================== */

 @media screen and (min-width: 768px) {

 main {
    padding-top: 2.5rem;
} 
.intro {
    padding-bottom: 0;
    display: block;
    height: 1035px;
} 
h1 {
        top: 15rem;
        font-size: 96px;
        margin: 0;
        padding: 0;
        font-weight: lighter;
}
.portrait {
    position: relative;
    top: -13rem;
    width: 250px;
    height: 250px;
    border: 15px solid white;
}
.intro p {
    top: -15rem;
    width: 80%;
    font-size: 1.8rem;
    line-height: 2.5rem;
    
}
.banner-image {
    height: 800px;
    
}
.intro a {
    top: -15rem;
    
}
section a {
    left: 80%;
    font-size: 1.8rem;
}
hr {
    margin: 7% auto;
    position: relative;
    top: 2rem;
}

.projects {
     top: 0;
     width: 100%;
     margin-bottom: 5rem;
 }
.row {
    display: flex;
    flex-flow: row nowrap; 
    width: 90%;
    justify-content: space-evenly;

 }
.project {
    width: 30%;
    height: 360px;
}
.project legend {
    top: 95%;
    color: black;
}
.projects a {
    position: relative;
    
    left: 37%;
    margin-top: 3rem;
}

footer {
    top: 0;
}
.social-media {
    width: 70%;
    margin: 10px auto;
    
}
.social-media p {
    font-size: 1.5rem;
}
 }
 