* {
    --headerfont:'Cutive Mono', monospace;
    --prgfont: 'Roboto', sans-serif;
    --clrgrey:#a2a2a2;
    --clrpurple: #7e007e;
    box-sizing: border-box;
    font-family: var(--prgfont);
    /* border: 1px solid mediumvioletred; */
}
body {
    width: 100%;
    height: 100%;
    
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    /* padding-top: 5.5rem;  */
}
h1 {
    text-align: center;
    font-family: var(--headerfont);
    font-size: 2.5rem;
    margin-top: 2rem;
}

.grid {
    width: 90%;
    margin: 0 auto;
}
.cards {
    margin-bottom: 2rem;
    background-color: var(--clrgrey);
    height: 270px;
    border-radius: 10px;
    padding: 4%;
} 

.cards img {
    height: 160px;
    width: 100%;
    background-color: lightslategray;
    margin: 0;
    object-fit: cover;
}
.cards h2 { 
    position: relative;
    top: -1.6rem;
    font-family: var(--headerfont);
}
.cards p { 
    position: relative;
    top: -2.7rem;
}
#project-link {
    position: relative;
    top: -2.7rem;
}
#github-link {
    position: relative;
    top: -2.7rem;
    margin-left: 71%;
} 

/* =================================================================================================================================================== */
/* Desktop version */

@media screen and (min-width: 768px) {

h1 {
    font-size: 84px;
    font-weight: lighter;
}
.grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    margin-bottom: 4%;
}
.cards {
    height:300px; 
    font-size: larger;
}
.cards h2 {
    margin-top: 7%;
}
#project-link {
    top: -3rem;
}
#github-link {
    top: -3rem;
} 
}